@font-face {
  font-family: "Montserrat";
  src: url("zdjecia/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Edwardian";
  src: url("zdjecia/Edwardian Script ITC.ttf") format("truetype");
}
.kontakt-uklad {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.contact-image {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
