@font-face {
  font-family: "Montserrat";
  src: url("zdjecia/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Edwardian";
  src: url("zdjecia/Edwardian\ Script\ ITC.ttf") format("truetype");
}

.offer-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.offer-item {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #07240d;
}

.offer-image,
.offer-text {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #07240d;
}

.offer-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #07240d;
}

.offer-text {
  background-color: #07240d;
  color: white;
  flex: 1;
  margin-left: 10%;
  margin-top: 4%;
  margin-right: 10%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.offer-image2,
.offer-text2 {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #fafbfa;
}

.offer-image2 img {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #fafbfa;
}

.offer-text2 {
  background-color: #fafbfa;
  color: #07240d;
  flex: 1;
  margin-left: 10%;
  margin-top: 4%;
  margin-right: 10%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.offer-item2 {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafbfa;
}
